In [2]:
# Importação das bibliotecas

import pandas as pd 
import matplotlib.pyplot as plt

# Descrição do projeto

In [4]:
# Carregamento do conjunto de dados

df = pd.read_csv('./datasets/Use_Of_Force.csv')
df.head()

,ID,Incident_Num,Incident_Type,Occured_date_time,Precinct,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender
0,2023UOF-0112-2422-30042,70534,Level 1 - Use of Force,01/14/2023 09:15:00 PM,OOJ,OOJ,99,2419,30914,White,Female
1,2018UOF-0300-2313-14902,21833,Level 1 - Use of Force,03/08/2018 03:27:00 PM,North,UNION,U1,2309,15792,White,Female
2,2015UOF-1167-1239-5068,6075,Level 1 - Use of Force,07/15/2015 04:26:00 AM,North,BOY,B1,1646,5032,Black or African American,Male
3,2023UOF-0718-2442-425,73829,Level 1 - Use of Force,08/11/2023 08:15:00 PM,East,GEORGE,G1,2438,424,White,Female
4,2016UOF-0263-1901-7582,9918,Level 1 - Use of Force,02/22/2016 08:31:00 PM,East,EDWARD,E2,1848,7531,Black or African American,Male

In [16]:
#Informações gerais do dataset

print('Informações gerais: ')
print('-------'*10)
print(df.info())
print('-------'*10)
print("Tamanho do conjunto de dados")
print(f'{df.shape}')

Informações gerais:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17262 entries, 0 to 17261
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 17262 non-null  object
 1   Incident_Num       17262 non-null  int64
 2   Incident_Type      17262 non-null  object
 3   Occured_date_time  17262 non-null  object
 4   Precinct           17262 non-null  object
 5   Sector             15820 non-null  object
 6   Beat               17262 non-null  object
 7   Officer_ID         17262 non-null  int64
 8   Subject_ID         17262 non-null  int64
 9   Subject_Race       17262 non-null  object
 10  Subject_Gender     17262 non-null  object
dtypes: int64(3), object(8)
memory usage: 1.4+ MB
None
----------------------------------------------------------------------
Tamanho do conjunto de dados
(17262, 11)

### Dados Faltantes

Durante a nossa análise exploratória, constatamos que, das 11 colunas presentes em nosso conjunto de dados, a coluna `Sector` contém aproximadamente 1442 amostras ausentes.

In [8]:
df.isnull().sum()

ID                      0
Incident_Num            0
Incident_Type           0
Occured_date_time       0
Precinct                0
Sector               1442
Beat                    0
Officer_ID              0
Subject_ID              0
Subject_Race            0
Subject_Gender          0
dtype: int64

## Visualização de dados